* {
    user-select: none;
    margin: 0
}

@font-face {
    font-family: segoeB;
    src: url(../resources/Segoe-UI-Bold.woff)
}

@font-face {
    font-family: segeo;
    src: url(../resources/Segoe-UI.ttf)
}

#particles-js {
    position: absolute;
    height: 100vh;
    width: 100vw;
    z-index: 1;
}

html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    display: grid;
    justify-content: center;
    align-items: center;
    overflow: hidden
}

body {
    background: #222;
    height: 100%;
    margin: 0;
    width: 100vw;
    font-family: segoe ui;
    overflow: auto;
    display: grid;
    justify-content: center;
    align-content: center;
    z-index: 2;
    padding: 0;
}

.body {
    color: #f971e4;
    display: grid;
    justify-content: center;
    width: max-content;
    position: relative;
    z-index: 2;
    text-align: center;
}